/*
// --------------------------------------------------------------------------------------------------------------------
// Desktop-Level Definitions
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-body
{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bea-portal-body a
{
    display: inline;
    text-decoration: none;
}

.bea-portal-body a:hover
{
    text-decoration: underline;
}

.bea-portal-body-content
{
}

.bea-portal-body-header, .bea-portal-body-footer
{
    margin: 0px;
    padding: 4px;
    color: #cccce5;
}

.bea-portal-body-header
{
    font-size: large;
    font-weight: bold;
}

.bea-portal-body-footer
{
    font-size: x-small;
    font-style: italic;
}

.bea-portal-body-header a, .bea-portal-body-footer a
{
    color: #cccce5;
}
/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary
{
    padding: 0px;
    margin: 0px;
    font-size: small;
    width: 100%;
    background-color: #f0f0ff;
}

.bea-portal-book-primary-content
{
    padding: 0px;
    vertical-align: top;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Page
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-page
{
    padding: 8px;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book
{
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #333366;
}

.bea-portal-book-content
{
    scrollbar-base-color:#d8d8e5;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Page
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-page
{
    background-color: #ffffff;
    padding: 4px;
    font-size: small;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Root Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-menu
{
    display: none;
}

.bea-portal-book-primary-menu-root, .bea-portal-book-primary-menu-root-item a, .bea-portal-book-primary-menu-root-item-active a
{
    margin: 0px;
    padding: 4px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #9999cc;
    font-weight: bold;
    background-color: #ffffff;
}

.bea-portal-book-primary-menu-root
{
    font-size: small;
    padding: 4px 0px;
}

.bea-portal-book-primary-menu-root a
{
    color: #333366;
}

.bea-portal-book-primary-menu-root a:hover
{
    color: #000033;
    background-color: #e5e5ff;
    border-color: #cc6666;
    text-decoration: none;
}

.bea-portal-book-primary-menu-root ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-root li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-root-item
{
}

.bea-portal-book-primary-menu-root-item-active a
{
    color: #000033;
    border-color: #990000;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Nested Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-menu-nested
{
    font-size: x-small;
}

.bea-portal-book-primary-menu-nested-item a, .bea-portal-book-primary-menu-nested-item-active a
{
    padding: 1px 4px;
    display: block;
    text-decoration: none;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #cccce5;
    width: 150px;
}

.bea-portal-book-primary-menu-nested-item a:hover, .bea-portal-book-primary-menu-nested-item-active a:hover
{
    color: #000033;
    background-color: #b2b2e5;
    border-color: #cccce5;
}

.bea-portal-book-primary-menu-nested-item a
{
    color: #f0f0ff;
    background-color: #9999cc;
}

.bea-portal-book-primary-menu-nested-item-active a
{
    color: #f0f0ff;
    background-color: #9999cc;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Root Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-menu
{
    display: none;
}

.bea-portal-book-menu-root, .bea-portal-book-menu-root-item a, .bea-portal-book-menu-root-item-active a
{
    margin: 0px;
    padding: 4px;
    font-weight: bold;
    background-color: #d8d8e5;
}

.bea-portal-book-menu-root
{
    font-size: x-small;
    padding: 4px 0px;
}

.bea-portal-book-menu-root a
{
    color: #333366;
}

.bea-portal-book-menu-root a:hover
{
    color: #000033;
    background-color: #ffffff;
    border-color: #cc6666;
    text-decoration: none;
}

.bea-portal-book-menu-root ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-root li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-root-item
{
}

.bea-portal-book-menu-root-item-active a
{
    color: #000033;
    border-color: #990000;
    background-color: #ffffff;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Nested Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-menu-nested
{
    font-size: x-small;
}

.bea-portal-book-menu-nested-item a, .bea-portal-book-menu-nested-item-active a
{
    padding: 1px 4px;
    display: block;
    text-decoration: none;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #cccce5;
    width: 150px;
}

.bea-portal-book-menu-nested-item a:hover, .bea-portal-book-menu-nested-item-active a:hover
{
    color: #000033;
    background-color: #b2b2e5;
    border-color: #cccce5;
}

.bea-portal-book-menu-nested-item a
{
    color: #f0f0ff;
    background-color: #9999cc;
}

.bea-portal-book-menu-nested-item-active a
{
    color: #f0f0ff;
    background-color: #9999cc;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Menu, Single-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-menu-single-container
{
}

.bea-portal-book-primary-menu-single, .bea-portal-book-primary-menu-single a, .bea-portal-book-primary-menu-single span
{
    margin: 0px;
    padding: 4px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #9999cc;
    color: #333366;
    font-weight: bold;
    background-color: #ffffff;
}

.bea-portal-book-primary-menu-single
{
    font-size: small;
    padding: 4px 0px;
}

.bea-portal-book-primary-menu-single a
{
}

.bea-portal-book-primary-menu-single a:hover
{
    color: #000033;
    background-color: #e5e5ff;
    border-color: #cc6666;
    text-decoration: none;
}

.bea-portal-book-primary-menu-single span
{
    color: #000033;
    border-color: #990000;
}

.bea-portal-book-primary-menu-single ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-single li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-single-item
{
}

.bea-portal-book-primary-menu-single-item-active
{
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Menu, Single-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-menu-single-container
{
    background-color: #d8d8e5;
    vertical-align: bottom;
}

.bea-portal-book-menu-single
{
    margin: 0px;
    padding: 4px 0px;
    font-size: x-small;
    font-weight: bold;
}

.bea-portal-book-menu-single a, .bea-portal-book-menu-single span
{
    color: #333366;
    padding: 4px;
}

.bea-portal-book-menu-single a
{
}

.bea-portal-book-menu-single a:hover
{
    color: #660000;
    text-decoration: none;
}

.bea-portal-book-menu-single span
{
    color: #000033;
    background-color: #ffffff;
}

.bea-portal-book-menu-single ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-single li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-single-item
{
}

.bea-portal-book-menu-single-item-active
{
}

.bea-portal-book-menu-single-item-buttons
{
    background-color: #d8d8e5;
}
/*
// --------------------------------------------------------------------------------------------------------------------
// Button
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-button, .bea-portal-button-delete, .bea-portal-button-float
{
}

.bea-portal-button img, .bea-portal-button-delete img, .bea-portal-button-float img
{
    vertical-align: top;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #666699;
}

.bea-portal-button:hover img, .bea-portal-button-delete:hover img, .bea-portal-button-float:hover img
{
    border-color: #660000;
}

form
{
    margin: 0px;
    padding: 0px;
}

input, select, textarea
{
    margin: 2px;
    font-size: small;
}
/*
// --------------------------------------------------------------------------------------------------------------------
// Layouts
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-layout, .bea-portal-layout-grid, .bea-portal-layout-border, .bea-portal-layout-flow
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.bea-portal-layout-placeholder-container
{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.bea-portal-layout-placeholder
{
    padding: 0px;
    margin: 0px;
}
.bea-portal-layout-placeholder-container-east, .bea-portal-layout-placeholder-container-west, .bea-portal-layout-placeholder-container-north, .bea-portal-layout-placeholder-container-south, .bea-portal-layout-placeholder-container-center
{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// W S R P   ( v 0 . 9 2 )   S T A N D A R D   P O R T L E T   C S S
// --------------------------------------------------------------------------------------------------------------------
*/


/*   F O N T S   */


.portlet-font, .portlet-font-dim
{
    font-family: arial, tahoma, sans-serif;
    font-size: small;
}

.portlet-font
{
    color: #000000;
}

.portlet-font-dim
{
    color: #999999;
}


/*   M E S S A G E S   */


.portlet-msg-status
{
    font-style: italic;
}

.portlet-msg-info
{
    font-weight: bold;
}

.portlet-msg-error
{
    font-weight: bold;
    color: #ff0000;
}

.portlet-msg-alert
{
    font-style: italic;
    font-weight: bold;
}

.portlet-msg-success
{
    font-weight: bold;
    color: #009900;
}


/*   S E C T I O N S   */


.portlet-section-header
{
    font-size: 120%;
    font-weight: bold;
    border-style: dotted;
    border-width: 1px 0px;
    color: #333399;
    padding: 2px 0px;
}

.portlet-section-body
{
    background-color: #f0f0ff;
}

.portlet-section-alternate
{
    background-color: #d8d8ff;
}

.portlet-section-selected
{
    background-color: #9999ff;
    color: #ffffff;
}

.portlet-section-subheader
{
    font-weight: bold;
    color: #6666cc;
    padding: 2px 0px;
}

.portlet-section-footer
{
    font-size: 80%;
    font-weight: bold;
}

.portlet-section-text
{
}


/*   F O R M S   */


.portlet-form-label
{
}

.portlet-form-input-field
{
}

.portlet-form-button
{
}

.portlet-icon-label
{
}

.portlet-dlg-icon-label
{
}

.portlet-form-field-label
{
}

.portlet-form-field
{
}


/*   M E N U S   */


.portlet-menu
{
}

.portlet-menu-item
{
}

.portlet-menu-item-selected
{
}

.portlet-menu-item-hover
{
}

.portlet-menu-item-hover-selected
{
}

.portlet-menu-cascade-item
{
}

.portlet-menu-cascade-item-selected
{
}

.portlet-menu-description
{
}

.portlet-menu-caption
{
}
/*
// --------------------------------------------------------------------------------------------------------------------
// Window
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-window
{
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #333366;
    background-color: #ffffff;
    /* Fix for IE height problem; uses Mozilla's recognition of and IE's ignorance of C-style line comment... */
    //height: 100%;
}

.bea-portal-window-content
{
    margin: 0px;
    padding: 0px;
    scrollbar-base-color:#d8d8e5;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Window Titlebar
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-window-titlebar
{
    background-color: #d8d8e5;
    padding: 2px;
    margin: 0px;
    font-size: small;
    font-weight: bold;
}

.bea-portal-window-titlebar-container
{
    padding: 0px;
    width: 100%;
}

.bea-portal-window-icon
{
    text-align: center;
    padding: 0px 4px 0px 0px;
    margin: 0px;
    width: 1%;
}

.bea-portal-window-icon img
{
    padding: 0px;
    margin: 0px;
}

.bea-portal-window-titlebar-title
{
    color: #333366;
    text-align: left;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.bea-portal-window-titlebar-buttons
{
    text-align: right;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
}
