<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<?eclipse version="@required.eclipse.version@"?>
<plugin
    id="com.volantis.mcs.eclipse.ab"
    name="%pluginName"
    version="@com.volantis.mcs.eclipse.ab@"
    provider-name="%providerName"
    class="com.volantis.mcs.eclipse.ab.ABPlugin">

    <runtime>
        <library name="volantis-mcs-ab.jar"/>
    </runtime>


    <!--
        NOTE: The order of the plugins is significant because Eclipse
        uses the order to determine which ClassLoader to use. This order
        must be the same across all plugins. If the order differs then
        different class loaders may be used to load a specific class.
        This may cause code to fail. For example, identity comparisons,
        instanceof and class casting operations may fail. The typesafe
        enum and singleton patterns should be used carefully to avoid
        this problem. This ordering issue arose when using the typesafe
        enum NamedColor.
        You must use the following plugin order:
            com.volantis.mcs.eclipse.controls
            com.volantis.mcs.eclipse.validation
            com.volantis.mcs.eclipse.common
    -->
    <requires>
        <import plugin="com.volantis.mcs.eclipse.controls" version="@com.volantis.mcs.eclipse.controls@"/>
        <import plugin="com.volantis.mcs.eclipse.validation" version="@com.volantis.mcs.eclipse.validation@"/>
        <import plugin="com.volantis.mcs.eclipse.common" version="@com.volantis.mcs.eclipse.common@"/>
        <import plugin="com.volantis.mcs.eclipse.builder" version="@com.volantis.mcs.eclipse.builder@"/>
        <import plugin="com.volantis.mcs.common" version="@com.volantis.mcs.common@"/>
        <import plugin="com.volantis.synergetics" version="@com.volantis.synergetics@"/>
        <import plugin="com.volantis.xml.xerces" version="@com.volantis.xml.xerces@"/>
        <import plugin="org.eclipse.core.resources"/>
        <import plugin="org.eclipse.core.runtime.compatibility"/>
        <import plugin="org.eclipse.ui.ide"/>
        <import plugin="org.eclipse.ui.views"/>
        <import plugin="org.eclipse.jface.text"/>
        <import plugin="org.eclipse.ui.workbench.texteditor"/>
        <import plugin="org.eclipse.ui.editors"/>
        <import plugin="org.eclipse.search"/>
        <import plugin="org.eclipse.swt"/>
        <import plugin="org.eclipse.ui"/>
        <import plugin="org.jakarta.log4j" version="@org.jakarta.log4j@"/>
        <import plugin="org.jdom" version="@org.jdom@"/>
        <import plugin="org.apache.regexp" version="@org.apache.regexp@"/>
    </requires>

    <extension
        point="org.eclipse.ui.editors">
        <editor
            name="%Editors.assetGroup"
            extensions="mgrp"
            icon="icons/full/policy16/asset_group.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.BaseURLPolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.BaseURLPolicyEditor">
        </editor>
        <editor
            name="%Editors.audioComponent"
            extensions="mauc"
            icon="icons/full/policy16/audio.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.AudioPolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.AudioPolicyEditor">
        </editor>
        <editor
            name="%Editors.chartComponent"
            extensions="mcht"
            icon="icons/full/policy16/chart.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.ChartPolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.ChartPolicyEditor">
        </editor>
        <editor
            name="%Editors.device"
            extensions="mdpr"
            icon="icons/full/devices/dev_repository_16px.gif"
            contributorClass="com.volantis.mcs.eclipse.ab.editors.dom.MultiPageODOMEditorContributor"
            class="com.volantis.mcs.eclipse.ab.editors.devices.DeviceEditor"
            id="com.volantis.mcs.eclipse.ab.editors.devices.DeviceEditor">
        </editor>
        <editor name="%Editors.deviceRepositoryBrowser"
            extensions="mdpr"
            icon="icons/full/devices/dev_repository_16px.gif"
            contributorClass="com.volantis.mcs.eclipse.ab.editors.dom.ODOMEditorContributor"
            class="com.volantis.mcs.eclipse.ab.editors.devices.DeviceRepositoryBrowserEditor"
            id="com.volantis.mcs.eclipse.ab.editors.devices.DeviceRepositoryBrowserEditor">
        </editor>
        <editor
            name="%Editors.imageComponent"
            extensions="mimg"
            icon="icons/full/policy16/image.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.ImagePolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.ImagePolicyEditor">
        </editor>
        <editor
            name="%Editors.layout"
            extensions="mlyt"
            icon="icons/full/policy16/layout.gif"
            contributorClass="com.volantis.mcs.eclipse.builder.editors.MultiPageEditorContributor"
            class="com.volantis.mcs.eclipse.ab.editors.layout.LayoutEditor"
            id="com.volantis.mcs.eclipse.ab.editors.layout.LayoutEditor">
        </editor>
        <editor
            name="%Editors.linkComponent"
            extensions="mlnk"
            icon="icons/full/policy16/link.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.LinkPolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.LinkPolicyEditor">
        </editor>
        <editor
            name="%Editors.rolloverImageComponent"
            extensions="mrlv"
            icon="icons/full/policy16/image_over.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.RolloverImagePolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.RolloverImagePolicyEditor">
        </editor>
        <editor
            name="%Editors.scriptComponent"
            extensions="mscr"
            icon="icons/full/policy16/script.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.ScriptPolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.ScriptPolicyEditor">
        </editor>
        <editor
            name="%Editors.textComponent"
            extensions="mtxt"
            icon="icons/full/policy16/text.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="com.volantis.mcs.eclipse.builder.editors.policies.TextPolicyEditor"
            id="com.volantis.mcs.eclipse.builder.editors.policies.TextPolicyEditor">
        </editor>
        <editor
            name="%Editors.theme"
            extensions="mthm"
            icon="icons/full/policy16/theme.gif"
            contributorClass="com.volantis.mcs.eclipse.builder.editors.MultiPageEditorContributor"
            class="com.volantis.mcs.eclipse.builder.editors.themes.ThemeEditor"
            id="com.volantis.mcs.eclipse.builder.editors.themes.ThemeEditor">
        </editor>
        <!--
            The source editor should be last in the list of editors to
            ensure that the correct icons and specific editors are used by
            default.
        -->
        <editor
            name="%Editors.source"
            extensions="mauc, mbtn, mcht, mdyv, mimg, mlnk, mrat, mrlv, mscr, mtxt, mgrp, mlyt, mthm"
            icon="icons/full/policy16/text.gif"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="com.volantis.mcs.eclipse.ab.editors.xml.XMLEditor"
            id="com.volantis.mcs.eclipse.ab.editors.xml.XMLEditor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.search.searchPages">
        <page
            id="com.volantis.mcs.eclipse.ab.search.devices.DeviceSearchPage"
            label="%Dialogs.deviceSearchPage.title"
            icon="icons/full/dialogs/device-search.gif"
            sizeHint="250,160"
            tabPosition="1"
            extensions="mdpr:99"
            showScopeSection="true"
            canSearchEnclosingProjects="true"
            class="com.volantis.mcs.eclipse.ab.search.devices.DeviceSearchPage">
        </page>
    </extension>
    <extension
	    id="MCSDeviceSearchResultPage"
	    point="org.eclipse.search.searchResultViewPages">
	    <viewPage
		    id="com.volantis.mcs.eclipse.ab.search.devices.DeviceSearchResultPage"
		    searchResultClass="com.volantis.mcs.eclipse.ab.search.devices.DeviceSearchResult"
		    class="com.volantis.mcs.eclipse.ab.search.devices.DeviceSearchResultPage">
	    </viewPage>
    </extension>
    
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            name="%Perspectives.MCS"
            class="com.volantis.mcs.eclipse.ab.perspectives.MCSPerspective"
            id="com.volantis.mcs.eclipse.ab.perspectives.MCSPerspective"
            icon="icons/full/policy16/mcs_perspective.png"/>
    </extension>

    <extension
        point="org.eclipse.ui.newWizards">
        <category
            name="%NewWizards.Category.MCS"
            id="com.volantis.mcs.eclipse.ab"/>
        <wizard
            name="%NewWizards.assetGroup"
            icon="icons/full/policy16/asset_group.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewBaseURLPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewAssetGroupWizard">
            <description>%NewWizards.assetGroup.description</description>
        </wizard>
        <wizard
            name="%NewWizards.audioComponent"
            icon="icons/full/policy16/audio.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewAudioPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewAudioComponentWizard">
            <description>%NewWizards.audioComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.chartComponent"
            icon="icons/full/policy16/chart.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewChartPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewChartComponentWizard">
            <description>%NewWizards.chartComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.imageComponent"
            icon="icons/full/policy16/image.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewImagePolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewImageComponentWizard">
            <description>%NewWizards.imageComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.layout"
            icon="icons/full/policy16/layout.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewLayoutPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewLayoutWizard">
            <description>%NewWizards.layout.description</description>
        </wizard>
        <wizard
            name="%NewWizards.linkComponent"
            icon="icons/full/policy16/link.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewLinkPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewLinkComponentWizard">
            <description>%NewWizards.linkComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.rolloverImageComponent"
            icon="icons/full/policy16/image_over.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewRolloverImagePolicyWizard"
            id="com.volantis.mcs.eclipse.builder.wizards.policies.NewRolloverImagePolicyWizard">
            <description>%NewWizards.rolloverImageComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.scriptComponent"
            icon="icons/full/policy16/script.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewScriptPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewScriptComponentWizard">
            <description>%NewWizards.scriptComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.textComponent"
            icon="icons/full/policy16/text.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewTextPolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewTextComponentWizard">
            <description>%NewWizards.textComponent.description</description>
        </wizard>
        <wizard
            name="%NewWizards.theme"
            icon="icons/full/policy16/theme.gif"
            category="com.volantis.mcs.eclipse.ab"
            class="com.volantis.mcs.eclipse.builder.wizards.policies.NewThemePolicyWizard"
            id="com.volantis.mcs.eclipse.ab.wizards.NewThemeWizard">
            <description>%NewWizards.theme.description</description>
        </wizard>
        <wizard
            id="com.volantis.mcs.eclipse.builder.wizards.projects.NewMCSProject"
            name="%NewWizards.project"
            class="com.volantis.mcs.eclipse.builder.wizards.projects.NewMCSProject"
            category="com.volantis.mcs.eclipse.ab"
            project="true"
            icon="icons/full/policy16/mcs_project.gif"
            finalPerspective="com.volantis.mcs.eclipse.ab.perspectives.MCSPerspective">
            <description>%NewWizards.project.description</description>
        </wizard>
    </extension>
    <extension
        point="org.eclipse.ui.propertyPages">
        <!-- todo replace with proper icon -->
        <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%Plugin.propertiesPage"
            icon="icons/full/policy16/mcs_project.gif"
            class="com.volantis.mcs.eclipse.builder.properties.MCSProjectProperties"
            id="com.volantis.mcs.eclipse.builder.properties.mcsProjectProperties">

            <filter name="nature" value="com.volantis.mcs.eclipse.ab.MCSProjectNature"/>
        </page>
    </extension>

    <!-- Nature extension -->
    <extension
        id="MCSProjectNature"
        name="%Plugin.projectNature"
        point="org.eclipse.core.resources.natures">

        <runtime>
            <run class="com.volantis.mcs.eclipse.core.MCSProjectNature"/>
        </runtime>

        <builder id="com.volantis.mcs.eclipse.ab.policyBuilder">
        </builder>
    </extension>

    <extension
        id="MCSAdminNature"
        name="%Plugin.adminNature"
        point="org.eclipse.core.resources.natures">
    </extension>

    <!-- Nature image extension -->
    <extension
        point="org.eclipse.ui.ide.projectNatureImages">
        <image
            id="com.volantis.mcs.eclipse.ab.MCSNatureImage"
            natureId="com.volantis.mcs.eclipse.ab.MCSProjectNature"
            icon="icons/full/nature/mcs.gif"/>
    </extension>

    <!-- Builder extension -->
    <extension
        id="policyBuilder"
        name="%Plugin.policyBuilder"
        point="org.eclipse.core.resources.builders">

        <builder hasNature="true">
            <run class="com.volantis.mcs.eclipse.ab.core.MCSProjectBuilder">
            </run>
        </builder>

    </extension>

    <!-- View Extension -->
    <extension
        id="com.volantis.mcs.eclipse.ab"
        name="%Plugin.views"
        point="org.eclipse.ui.views">

        <category name="%Views.category.mcs"
            id="com.volantis.mcs.eclipse.ab.MCSViewCategory">
        </category>

        <view name="%Views.deviceRepository"
            icon="icons/full/devices/dev_repository_16px.gif"
            category="com.volantis.mcs.eclipse.ab.MCSViewCategory"
            class="com.volantis.mcs.eclipse.ab.views.devices.DeviceRepositoryBrowser"
            id="com.volantis.mcs.eclipse.ab.views.devices.DeviceRepositoryBrowser">
        </view>

        <view name="%Views.formatAttributes"
            icon="icons/full/layout/att_view.png"
            category="com.volantis.mcs.eclipse.ab.MCSViewCategory"
            class="com.volantis.mcs.eclipse.ab.views.layout.FormatAttributesView"
            id="com.volantis.mcs.eclipse.ab.views.layout.FormatAttributesView">
        </view>

        <view name="%Views.styleRules"
            icon="icons/full/layout/att_view.png"
            category="com.volantis.mcs.eclipse.ab.MCSViewCategory"
            class="com.volantis.mcs.eclipse.builder.views.themes.StyleRuleView"
            id="com.volantis.mcs.eclipse.builder.views.themes.StyleRuleView">
        </view>

        <view name="%Views.mcsNavigator"
            icon="icons/full/layout/att_view.png"
            category="com.volantis.mcs.eclipse.ab.MCSViewCategory"
            class="com.volantis.mcs.eclipse.builder.views.navigator.MCSResourceNavigator"
            id="com.volantis.mcs.eclipse.builder.views.navigator.MCSResourceNavigator">
        </view>
    </extension>
    
    <!-- Preference pages -->
    <extension
        point = "org.eclipse.ui.preferencePages">
        <page id="com.volantis.mcs.eclipse.builder.preference.MCSPreferencePage"
	        class="com.volantis.mcs.eclipse.builder.preference.MCSPreferencePage"
            name="%PreferencePage.mcs.name">
       </page>
   </extension>

</plugin>
