<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->
<!-- ==========================================================================
 ! $Header: /src/voyager/webapp/internal/webtest/WEB-INF/web.xml,v 1.1 2002/02/25 16:13:43 pduffin Exp $
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2001. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 25-Feb-02    Paul            VBM:2002022204 - Created to make it easy to
 !                              use the test servlets.
 ! ======================================================================= -->

<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
     
    <display-name>VolantisMCS</display-name>
    <description>Template web.xml.</description>
       
    <servlet>
      <servlet-name>testBinary</servlet-name>
      <servlet-class>tests.BinaryServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>testForwarder</servlet-name>
      <servlet-class>tests.ForwardingServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>completeForm</servlet-name>
      <servlet-class>com.volantis.mcs.servlet.FormSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>testBinary</servlet-name>
      <url-pattern>/testBinary/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>testForwarder</servlet-name>
      <url-pattern>/testForwarder/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>completeForm</servlet-name>
      <url-pattern>/completeForm/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>
            txt
        </extension>
        <mime-type>
            text/plain
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            html
        </extension>
        <mime-type>
            text/html
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            htm
        </extension>
        <mime-type>
            text/html
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            gif
        </extension>
        <mime-type>
            image/gif
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            jpg
        </extension>
        <mime-type>
            image/jpeg
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            jpe
        </extension>
        <mime-type>
            image/jpeg
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            jpeg
        </extension>
        <mime-type>
            image/jpeg
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            png
        </extension>
        <mime-type>
            image/png
        </mime-type>
    </mime-mapping>

    <mime-mapping>
      <extension>
        bmp
      </extension>
      <mime-type>
        image/bmp
      </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            wbmp
        </extension>
        <mime-type>
            image/vnd.wap.wbmp
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            ief
        </extension>
        <mime-type>
            image/ief
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            tiff
        </extension>
        <mime-type>
            image/tiff
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            tif
        </extension>
        <mime-type>
            image/tiff
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            ras
        </extension>
        <mime-type>
            image/x-cmu-raster
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            pnm
        </extension>
        <mime-type>
            image/x-portable-anymap
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            pbm
        </extension>
        <mime-type>
            image/x-portable-bitmap
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            pgm
        </extension>
        <mime-type>
            image/x-portable-graymap
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            ppm
        </extension>
        <mime-type>
            image/x-portable-pixmap
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            rgb
        </extension>
        <mime-type>
            image/x-rgb
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            xbm
        </extension>
        <mime-type>
            image/x-xbitmap
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            xpm
        </extension>
        <mime-type>
            image/x-xpixmap
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            xwd
        </extension>
        <mime-type>
            image/x-xwindowdump
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            au
        </extension>
        <mime-type>
            audio/basic
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            snd
        </extension>
        <mime-type>
            audio/basic
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            aif
        </extension>
        <mime-type>
            audio/x-aiff
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            aiff
        </extension>
        <mime-type>
            audio/x-aiff
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            aifc
        </extension>
        <mime-type>
            audio/x-aiff
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            wav
        </extension>
        <mime-type>
            audio/x-wav
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            mpeg
        </extension>
        <mime-type>
            video/mpeg
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            mpg
        </extension>
        <mime-type>
            video/mpeg
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            mpe
        </extension>
        <mime-type>
            video/mpeg
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            qt
        </extension>
        <mime-type>
            video/quicktime
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            mov
        </extension>
        <mime-type>
            video/quicktime
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            avi
        </extension>
        <mime-type>
            video/x-msvideo
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            movie
        </extension>
        <mime-type>
            video/x-sgi-movie
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            avx
        </extension>
        <mime-type>
            video/x-rad-screenplay
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            wrl
        </extension>
        <mime-type>
            x-world/x-vrml
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            mpv2
        </extension>
        <mime-type>
            video/mpeg2
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            wml
        </extension>
        <mime-type>
            text/vnd.wap.wml
        </mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>
            cept
        </extension>
        <mime-type>
            image/vnd.videotex
        </mime-type>
    </mime-mapping>


    <mime-mapping>
        <extension>
            vtx
        </extension>
        <mime-type>
            image/vnd.videotex
        </mime-type>
    </mime-mapping>

    <welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list> 

    <taglib>  
      <taglib-uri>taglibs/volantis-mcs.tld</taglib-uri>
      <taglib-location>WEB-INF/taglibs/volantis-mcs.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>integration</taglib-uri>
        <taglib-location>/WEB-INF/taglibs/volantis-mcs-integration.tld</taglib-location>
    </taglib>

</web-app>

<!--
 ===========================================================================
 Change History
 ===========================================================================
 $Log$

 30-Jun-03	492/1	byron	VBM:2003061808 Allow MCS to configure the pipeline WebService Connector - part 2

 ===========================================================================
-->
