<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->


<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Image Conversion Service</display-name>
    <description>
      Image Conversion Service
    </description>

    <!-- Define servlets that are included in the application -->

    <servlet>
        <servlet-name>ICS</servlet-name>
        <servlet-class>com.volantis.map.ics.servlet.Server</servlet-class>
        <init-param>
            <param-name>config.file</param-name>
            <param-value>@path.to.ics.config@</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>ICS</servlet-name>
        <url-pattern>/ics/*</url-pattern>
    </servlet-mapping>

</web-app>


