<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<?eclipse version="${build.version.eclipse}"?>
<plugin
   id="com.volantis.mcs.common"
   name="%pluginName"
   version="${version.plugins.mcs}"
   provider-name="%providerName">

${libraries-common}


   <requires>
       <import plugin="org.eclipse.core.runtime.compatibility"/>

   </requires>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-cdm"
                uri="marlin-cdm.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-driver-conditioners"
                uri="marlin-driver-conditioners.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-im"
                uri="marlin-im.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-pipeline"
                uri="marlin-pipeline.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-proxy"
                uri="marlin-proxy.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-servlet"
                uri="marlin-servlet.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-sql-driver"
                uri="marlin-sql-driver.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-template"
                uri="marlin-template.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-uri-driver"
                uri="marlin-uri-driver.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-web-driver"
                uri="marlin-web-driver.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-web-service-driver"
                uri="marlin-web-service-driver.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.ibm.com/mwp/mcs-integration"
                uri="mcs-integration.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/marlin-rpdm"
                uri="marlin-rpdm.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>

    <extension point="com.ibm.etools.xmlcatalog.catalogContributor">
        <catalogContributor catalogId="default">
            <mappingInfo
                key="http://www.volantis.com/xmlns/device/merge-report"
                uri="device-merge-report.xsd">
            </mappingInfo>
        </catalogContributor>
    </extension>
</plugin>
